server {
	listen 80;
	listen [::]:80;

	access_log off;

	root /var/www/html;

	index index.php;

	server_name example.com;
	server_tokens off;

	location / {
		# first attempt to server request as file, then
		# as directory, then fall back to displaying a 404.
		try_files $uri $uri/ /index.php$args;
	}

	# to make sure all PHP request are sent to the PHP-FPM service
	# pass the PHP scripts to FastCGI server listening on WordPress:9000
	location ~ \.php$ {
		fastcgi_split_path_info ^(.+\.php)(/.+)$;
		fastcgi_pass wordpress:9000;
		fastcgi_index index.php;
		include fastcgi_params;
		fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
		fastcgi_param SCRIPT_NAME $fastcgi_script_name;
	}
}
